$grey: #f8f8f8;
$black: #000;
$red: #ef4f5f;
$green: #267e3e;
$light-green: #3ab757;
$white: #fff;
$brightred: #ce1212;
$black2: #212529;
$darkgrey: #37373f;
$grey2: ;

// My name is Harleen//
