@use "index" as *;
@use "mixin" as m;

body {
  margin: 0px;
}

header {
  @include header(100%, 200px);
}

.button {
  @include button($white, 0.3s);
}
.error {
  @extend .button;
}
.submit {
  @extend .button;
}

@include navbar-styles;

@media (min-width: 1280px) and (max-width: 1366px) {
  .navbar ul {
    left: -90%;
  }

  .navbar > ul {
    left: -100%;
  }
}

//search

.searchbar {
  background-color: $white;
  text-align: center;
  align-content: center;
  background-size: cover;
  font-family: "Regular";
  display: inline-block;
  width: 100%;
  height: 200px;
}

.search {
  margin-bottom: auto;
  margin-top: auto;
  height: 30px;
  background-color: $white;
  border-radius: 40px;
  border: $brightred solid;
  padding: 15px;
  margin: 20%;
}

.search_input {
  color: $white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  margin-top: 5px;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.search .search_input {
  padding: 0 10px;
  width: 550px;
  text-align: left;
  margin: auto;
  caret-color: $brightred;
  transition: width 0.4s linear;
  color: $darkgrey;
  font-size: "normal";
}

.search:hover > .search_icon {
  background: $brightred;
  color: $white;
}

.search_icon {
  height: 50px;
  width: 50px;
  float: right;
  display: flex;
  bottom: 10px;
  text-decoration: none;
  justify-content: center;
  position: relative;
  align-items: center;
  border-radius: 50%;
  color: $white;
  background-color: $black;
}

.zomatoimg {
  @include zomatoimg;
}

.restaurant-list {
  @include m.restaurant-list;
}

.cards-container {
  @include m.cards-container;
}

.opac {
  @include m.opac;
}

.card {
  @include m.card;
}

.card .card-media {
  @include m.card-media;
  // background-image: url();
}

.card .card-media .discount {
  @include m.card-media-discount;
}

.card .card-media .discount p {
  @include m.card-media-discount-p;
}

.card .card-media .pro-discount {
  @include m.card-media-pro-discount;
}

.card .card-media .delivery-time {
  @include m.card-media-delivery-time;
}

.card .card-description {
  @include m.card-description;
}

.card .card-description .about-place {
  @include m.card-description-about-place;
}

.card .card-description .about-place .place-name {
  @include m.card-description-about-place-name;
}

.card .card-description .about-place .place-speciality {
  @include m.card-description-about-place-speciality;
}

.card .card-description .about-place .per-person {
  @include m.card-description-about-place-per-person;
}

.card .card-description .about-place .rating {
  @include m.card-description-about-place-rating;
}
