$black: #000;
$red: #ef4f5f;
$brightred: #ce1212;
$black2: #212529;
$darkgrey: #37373f;
$grey2: #495057;
$lightgrey: rgba(128, 128, 128, 0.4);
$grey3: rgba(128, 128, 128, 0.97);
$grrey: rgba(128, 128, 128);
$ajeebgrey: rgba(255, 255, 255, 0.5);
$kalaneela: #343a40;
$beige: #f5f5f5;
$white2: #fafafa;
$white: #fff;
$grey: #f8f8f8;

$kala: rgba(0, 0, 0, 0.87);
$darkgreen: #0a6d0acc;
$mango: #feb564;
$linear: linear-gradient(90deg, #fff0, #fff3 20%, #ffffff80 60%, #fff0);
